<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>images upload </title>
</head>
<body>
    
  <form  action="/api/v1/products/new" method="post" enctype="multipart/form-data" style=" background-color: azure; padding: 50px; display: flex; flex-direction: column; align-items: center;  justify-content: center; gap: 20px; " >
    <input type="file" name="images" value="imagesuploading .." multiple>
    
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
  
  
    <button type="submit">Upload</button>
  </form>
  

</body>
</html>