<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <form action="/upload" method="post"  enctype="multipart/form-data" > 
   <input type="file" name = "fileimage" value="myvalue" >
   <button type="submit"> upload</button>

  </form>
  <form action="/uploadimages" method="post"  enctype="multipart/form-data" > 
    <input type="file" name = "fileimages" value="myvalue" multiple >
    <button type="submit"> upload images </button>
 
   </form>

<img src="https://res.cloudinary.com/dzuzxgmss/image/upload/v1689170768/am3mcjfhbrwinvcemvgz.png" alt="">
</body>
</html>
