.navcontainer {
    
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.formcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.model {
    border: 1px solid black ;
    position: relative;
    top: 40px;
    left: -15px;
    display: flex;
    flex-direction: column;
    gap: 20px ;
    padding: 10px ;

}

.cartbox {
    margin: 50px ;
    width: 200px;
    border: 1px solid red ;
    padding: 20px;
}

.manage_product {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.side_nav {
    width: 20%

}



.Dash_container {
    margin-top: 100px;
    display: flex;
    width: 100%;

}

.img {
    width: 200px;
} 

.product_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 200px;
}

.Dash_product_page {
 width: 80%;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 40px;
 padding: 20px;

} 
.Dash_product {
    width: 100%;
}


/* Define your styles using modular CSS, adjust as needed */
/* S.module.css */

.payment_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
  
  .payment_card {
    border: 1px solid black;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
  }
  
  .button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .button:hover {
    background-color: white;
    color: black;
  }
  
  /* Import these classes into your component */
  