body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



.canterpage  {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}